<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav sidenav-left" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="toolbar">
            <img class="w-6 select-none flex-none" src="assets/logo.svg">
            <h2 _ngcontent-rvx-c88="" class="title ltr:pl-4 rtl:pr-4 select-none flex-auto">VEX</h2>
        </mat-toolbar>
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <button mat-raised-button color="primary">ADD NEW</button>
            <span class="example-spacer"></span>
            <button mat-icon-button [matMenuTriggerFor]="notifi" class="example-icon favorite-icon"
                aria-label="Example icon-button with a menu">
                <fa-icon [icon]="faBell" class="notifi"></fa-icon>
            </button>
            <mat-menu #notifi="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
            <button mat-icon-button [matMenuTriggerFor]="user" class="example-icon"
                aria-label="Example icon-button with a menu">
                <fa-icon [icon]="faUser" class="notifi"></fa-icon>
            </button>
            <mat-menu #user="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
        </mat-toolbar>
        <div *ngIf="!isdashboar">
            <mat-toolbar class="migas">
                <div class="div-migas">
                    <span>All-In-One Table</span>
                </div>
            </mat-toolbar>
            <div class="grid">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div *ngIf="isdashboar">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>