<h1 mat-dialog-title>Add Asset</h1>
<div mat-dialog-content>
    <mat-form-field appearance="legacy" class="full">
        <mat-label>Display name</mat-label>
        <input matInput [(ngModel)]="asset.displayname">
    </mat-form-field>
    
    <mat-form-field appearance="legacy" class="full">
        <mat-label>User By</mat-label>
        <input matInput [(ngModel)]="asset.userby">
    </mat-form-field>

    <mat-form-field appearance="legacy" class="full">
        <mat-label>Department</mat-label>
        <input matInput [(ngModel)]="asset.department">
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="this.newasset()"
        cdkFocusInitial>Save</button>
</div>