<h2>Product Overview</h2>
<table class="config_items">
    <tbody>
       <tr>
         <td class="light-color">Asset Type: </td>
         <td>Consumable</td>
         <td class="light-color">Manufacturer: </td>
         <td>Logitech</td>
       </tr>
       <tr>
         <td class="light-color">Status: </td>
         <td>In Production</td>
         <td class="light-color">Mode of Procurement: </td>
         <td>Both</td>
       </tr>
       <tr>
         <td class="light-color">Depreciation: </td>
         <td></td>
         <td class="light-color"></td>
         <td></td>
       </tr>
   </tbody>
 </table>