<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let item of lista" class="grid-top">
    <mat-card class="mi-card">
      <mat-card-header>
        <img mat-card-image class="mat-card-avatar-app h-24 w-24 mx-auto" src="https://material.angular.io/assets/img/examples/shiba2.jpg">
      </mat-card-header>
      <mat-card-content class="p-4 c mt-3">
        <h2 class="mb-1 mat-h2">Gerrero Morales</h2>
        <div class="mat-body">
          <i class="material-icons md-18">camera_roll</i>
          Supportal
        </div>
        <div class="mat-body">
          <i class="material-icons md-18">call</i>
          +21 (988) 504-2559
        </div>
      </mat-card-content>
      <mat-card-footer class="card-footer">
        <mat-grid-list cols="3" class="card-grid-footer">
          <mat-grid-tile class="grid-footer">
            <button mat-icon-button>
              <mat-icon>call</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="grid-footer">
          <button mat-icon-button>
            <mat-icon>email</mat-icon>
          </button>
        </mat-grid-tile>
        <mat-grid-tile class="grid-footer">
          <button mat-icon-button>
            <mat-icon>chat</mat-icon>
          </button>
        </mat-grid-tile>
        </mat-grid-list>
      </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>