<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>
            Categories
        </mat-card-title>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
        </mat-form-field>
        <app-button-addcategorie class="button"></app-button-addcategorie>
    </mat-card-header>
    <mat-card-content>
        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSources" class="mat-elevation-z8">
            
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Categorie </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>