<mat-nav-list>
    <!--<a mat-list-item routerLink="/dashboard" routerLinkActive="activo" class="mat-nav-list">
        <fa-icon [icon]="faTachometerAlt"></fa-icon>Dashboard
    </a>
    
    <a mat-list-item routerLink="/products" routerLinkActive="activo" class="mat-nav-list">
        <fa-icon [icon]="faBoxOpen"></fa-icon>Products
    </a>-->
    <a mat-list-item routerLink="/categories" routerLinkActive="activo" class="mat-nav-list">
        <fa-icon [icon]="faArchive"></fa-icon>Categories
    </a>
</mat-nav-list>
