<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>
            Name Product
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-drawer-container class="example-container">
            <mat-drawer mode="side" opened>
                <mat-nav-list>
                    <a mat-list-item routerLink="./overview" routerLinkActive="activo-down" class="mat-nav-list">Overview</a>
                    <a mat-list-item routerLink="./vendors" routerLinkActive="activo-down" class="mat-nav-list">Vendors</a>
                    <a mat-list-item routerLink="./associatedassets" routerLinkActive="activo-down" class="mat-nav-list">Associated Assets</a>
                </mat-nav-list>
            </mat-drawer>
            <mat-drawer-content>
                <router-outlet></router-outlet>
            </mat-drawer-content>
        </mat-drawer-container>
    </mat-card-content>
</mat-card>