.example-container {
    width: 100%;
    min-height: 20rem;
    margin: 10px;
  }
  
  .activo-down {
    background-color: #2c5cc5;  
    color: white;
    border-radius: 15px;
  }
  .mat-drawer-content, .example-container{
    background-color: #ffffff;
  }