table {
    width: 100%;
  }
  .button{
    margin-top: 1%;
    margin-right: 1%;
  }
  .mat-card-title{
    margin-top: 20%;
  }
  .mat-card{
    padding: 0px;
  }
  .mat-card-header{
    background-color: #ebebee;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }