<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>
            General
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-drawer-container class="example-container">
            <mat-list role="list">
                <mat-list-item role="listitem">Asset Type</mat-list-item>
                <mat-list-item role="listitem">Asset Tag</mat-list-item>
                <mat-list-item role="listitem">Impact</mat-list-item>
            </mat-list>
        </mat-drawer-container>
    </mat-card-content>
</mat-card>
<mat-card class="mat-card">
    <mat-card-header>
        <mat-card-title>
            Consumable
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-drawer-container class="example-container">
            <mat-list role="list">
                <mat-list-item role="listitem">Product</mat-list-item>
                <mat-list-item role="listitem">Vendor</mat-list-item>
                <mat-list-item role="listitem">State</mat-list-item>
                <mat-list-item role="listitem">Quantity</mat-list-item>
            </mat-list>
        </mat-drawer-container>
    </mat-card-content>
</mat-card>