.sidenav-container {
  height: 100%;
}

.sidenav{
  width: 200px;
}
.sidenav-left{
  background: #1a202e;
  color: #ffffff;
}
.mat-nav-list{
  color: #ffffff;
}

.sidenav .mat-toolbar {
  background: #171d29;
  color: #ffffff;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img, video {
  max-width: 100%;
  height: auto;
}
svg, video {
  display: block;
  vertical-align: middle;
}

img {
  border-style: none;
}

 .w-6 {
    width: 1.5rem;
}

.migas{
  background: #5b76fd;
  color:  #ffffff;
  height: 13rem;
}
.grid{
  margin-top: -5rem;
  width: 80%;
  margin-left :auto;
  margin-right:auto;
}

.div-migas{
  width: 80%;
  margin-left :auto;
  margin-right:auto;
}

.notifi { 
  color: #5c77ff; 
}
.example-spacer {
  flex: 1 1 auto;
}
